*.swp
*~
.sass-cache
*.scssc
/.project
/.buildpath
/.settings
/.idea
/apigen
/doc
/examples/*/user/config.php
/examples/*/user/lock.php
/examples/*/user/db.sqlite3
/examples/*/user/log/*
/examples/*/user/state/*
/examples/*/user/media/*
/tests/_output
/vendor/*
/nbproject/private/